grafana:
  image:
    repository: grafana/grafana
    tag: 6.5.3
    pullPolicy: IfNotPresent

  service:
    type: LoadBalancer

  ingress:
    enabled: true
    annotations:
      ingress.kubernetes.io/ssl-redirect: "true"
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: "nginx"
      certmanager.k8s.io/acme-http01-edit-in-place: "true"
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    labels: {}
    path: /
    hosts:
      - grafana.felannisport.com
    tls:
      - secretName: letsencrypt-grafana
        hosts:
          - grafana.felannisport.com

#  persistence:
#    enabled: true
#    initChownData: true
#    storageClassName: nfs-client
#    accessModes:
#      - ReadWriteOnce
#    size: 5Gi
#    # annotations: {}
#    # subPath: ""

  grafana.ini:
    security:
      admin_user: admin
      admin_password: admin
    auth.generic_oauth:
      allow_sign_up: true
      auth_url: https://dex.felannisport.com/auth
      client_id: dex-grafana
      client_secret: ZXhhbXBsZS1hcHAtc2VjcmV0sdleojfdpoounwes
      enabled: true
      name: Google SSO
      scopes: openid email profile groups
      token_url: https://dex.felannisport.com/token
    log:
      level: debug
    server:
      root_url: https://grafana.felannisport.com
    paths:
      data: /var/lib/grafana/data
      logs: /var/log/grafana
      plugins: /var/lib/grafana/plugins
      provisioning: /etc/grafana/provisioning

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
      - name: Smartthings
        type: influxdb
        url: http://influxdb.felannisport.com:8086
        access: proxy
        database: smartthings
        editable: true

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /var/lib/grafana/dashboards/default


  dashboards:
    default:
      home-devices:
        #file: dashboards/home-devices.json
        url: https://raw.githubusercontent.com/bstascavage/felannisport-helm/master/grafana/dashboards/home-devices.json
        #url: https://raw.githubusercontent.com/bstascavage/grafana-dashboards/master/Home%20Devices.json
